In [1]:
print("hello world")

hello world

In [2]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [3]:
file_path = r'C:\Users\sujith_marpuri\Desktop\New folder\mail_data.csv'
df = pd.read_csv(file_path)

In [4]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
for index, row in df.iterrows():
    if row['Category'] == 'spam':
        df.at[index, 'Category'] = 0
    elif row['Category'] == 'ham':
        df.at[index, 'Category'] = 1

In [6]:
df

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [7]:
X = df['Message']

In [8]:
Y = df['Category']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
feature_extraction = CountVectorizer()

X_train_features = feature_extraction.fit_transform(x_train)
X_test_features = feature_extraction.transform(x_test)

In [12]:
Y_train = y_train.astype('int')
Y_test = y_test.astype('int')

In [13]:
print(X_train_features)

  (0, 991)	1
  (0, 3168)	1
  (0, 4586)	1
  (1, 3168)	1
  (1, 6774)	1
  (1, 1340)	1
  (1, 7405)	1
  (1, 2644)	1
  (1, 7441)	1
  (1, 3725)	1
  (1, 6775)	1
  (1, 2352)	1
  (1, 6590)	1
  (1, 6894)	1
  (1, 1243)	2
  (1, 3309)	1
  (1, 1548)	1
  (1, 3569)	1
  (1, 6594)	1
  (1, 6800)	1
  (1, 7478)	1
  (1, 3620)	1
  (1, 5466)	1
  (2, 6894)	2
  (2, 3620)	1
  :	:
  (4455, 4875)	4
  (4455, 7556)	1
  (4455, 4759)	1
  (4455, 4810)	1
  (4455, 3249)	1
  (4455, 5125)	2
  (4455, 4193)	1
  (4455, 1172)	1
  (4455, 1252)	2
  (4455, 7256)	1
  (4455, 6136)	1
  (4455, 6546)	1
  (4456, 3725)	1
  (4456, 7666)	1
  (4456, 1578)	1
  (4456, 1066)	1
  (4456, 6793)	1
  (4456, 5233)	1
  (4456, 7164)	1
  (4456, 4436)	1
  (4456, 2920)	1
  (4456, 932)	1
  (4456, 7316)	1
  (4456, 3604)	1
  (4456, 108)	1

In [14]:
from sklearn.naive_bayes import MultinomialNB

In [15]:
model = MultinomialNB()
model.fit(X_train_features, Y_train)

MultinomialNB()

In [16]:
pred_train = model.predict(X_train_features)
accuracy_train = accuracy_score(Y_train, pred_train)

In [17]:
accuracy_train

0.9934933811981154

In [18]:
pred_test = model.predict(X_test_features)
accuracy_test = accuracy_score(Y_test, pred_test)

In [19]:
input_mail = input("enter the mail to be ham/spam:")
input_data_features = feature_extraction.transform([input_mail])
pred = model.predict(input_data_features)
print(pred)
if (pred[0]==1):
  print('NOT A SPAM mail')
else:
  print('Spam mail')

enter the mail to be ham/spam:ham
[1]
NOT A SPAM mail

In [20]:
import pickle

In [21]:
pickle.dump(model, open('pred_model.pkl','wb'))
model = pickle.load(open('pred_model.pkl','rb'))

In [22]:
df

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [23]:
X_train_features

<4457x7704 sparse matrix of type '<class 'numpy.int64'>'
	with 59164 stored elements in Compressed Sparse Row format>

In [24]:
pickle.dump(feature_extraction, open('feat_ex.pkl','wb'))
feat_ex = pickle.load(open('feat_ex.pkl','rb'))